<ul style="margin: 0px; padding:0px" class="uninett-ul">

    <li class="uninett-ul-li"><a href="#section1">Required Information</a>
    </li>
    <li class="uninett-ul-li"><a href="#section2">Requirements notation</a>
    </li>
    <li class="uninett-ul-li"><a href="#section3">Introduction</a>
    </li>
    <li class="uninett-ul-li"><a href="#section4">References to SAML 2.0 specification</a>
    </li>
    <li class="uninett-ul-li"><a href="#section5">Metadata and Trust Management</a>
    </li>
    <li class="uninett-ul-li"><a href="#section6">Name Identifiers</a>
    </li>
    <li class="uninett-ul-li"><a href="#section7">Attributes</a>
    </li>
    <li class="uninett-ul-li"><a href="#section8">Authentication Requests</a>
         <ul style="margin: 0px; padding:0px" class="uninett-ul">
            <li class="uninett-ul-li"><a href="#section81">Binding and Security Requirements</a>
            </li>
            <li class="uninett-ul-li"><a href="#section82">Message Content</a>
            </li>
        </ul>
    </li>
    <li class="uninett-ul-li"><a href="#section9">Responses</a>
       <ul style="margin: 0px; padding:0px" class="uninett-ul">
            <li class="uninett-ul-li"><a href="#section91">Binding and Security Requirements</a>
            </li>
            <li class="uninett-ul-li"><a href="#section92">Message Content</a>
            </li>
        </ul>
    </li>
    <li class="uninett-ul-li"><a href="#section10">Normative References</a>
    </li>
    <li class="uninett-ul-li"><a href="#section11">Non-Normative References</a>
    </li>
    <li class="uninett-ul-li"><a href="#section12">Authors' addresses</a>
    </li>
</ul>
